# Python
__pycache__/
*.py[cod]

# Environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Data artifacts
data/processed/
models/

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db